page-home {
    h2 {
        color: blue;
        font-style: italic;
        font-weight: bold;
    }
    ion-card-title.card-title.card-title-ios {
        color: currentColor;
    }
    p {
        text-align: center;
        color: unset;
        font-weight: bold;
    }
     
    ion-card-title.card-title.card-title-ios {
        text-align: center;
    }
    .image_home {
        width: 200px;
        position: absolute;
        left: 23%;
    }
    
}
